body {
	font-size: .90em;
	font-family: arial,helvetica;
	margin: 0;
	padding: 0;
}

.thumb {

	font-size: 50%;
	/*
	width:125px;
	border:double 2px;
	padding:2.5px;
	*/
}


.thumb .slide {
	width:120px;
	height:80px;
	border:solid 1px;
}

h1,h2,h3,h4,h5 {
	font-weight: bold;
	text-decoration: none;
	padding-left: 0.4em;
}

#header {
		position: relative;
}

#left {
	position: absolute;
	left: 0;
	width: 8em;
	line-height: 1.6em;
	padding: 1.5em 0.5em 0.5em 0.5em;
	font-size: 1.1em;
}

#main {
	margin: 1em 3em 0em 14em;
}

#sidebar {
	position: absolute;
	right: 3px;
	width: 16em;
	font-size: .9em;
}
#lay_out_switch {
}
#layout_switch ul li{
/*
	position:relative;
	float:left;
	display:block;
*/
}

